<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nolo Study</title>
    <link rel="stylesheet" href="{{ static }}style.css">
</head>
<body>
    {% block header %}
        {% include 'head.html' %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>